@import "tailwindcss";
@tailwind utilities;


@layer utilities {
  .select-none {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Standard */
  }

  .select-text {
    user-select: text;
  }

  .select-all {
    user-select: all;
  }

  .select-auto {
    user-select: auto;
  }

  .no-transition * {
    transition: none !important;
  }

  /* Expand animation - from bottom-right to top-left */
@keyframes expand {
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
  }
}

  /* Shrink animation - from top-left to bottom-right */
  @keyframes shrink {
    from {
      opacity: 1;
      transform: scale(1);
      transform-origin: bottom right;
    }
    to {
      opacity: 0;
      transform: scale(0);
      transform-origin: bottom right;
    }
  }

  /* Animation classes */
  .animate-expand {
    animation: expand 0.3s ease-out forwards;
  }

  .animate-shrink {
    animation: shrink 0.3s ease-in forwards;
  }

  /* styles.css */
  .custom-toast {
    background-color: #18181B !important;
    color: white !important;
    border: 2px solid #26262B !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  }

  /* Style the close button */
  .Toastify__close-button {
    color: white !important;
    opacity: 0.7 !important;
  }

  .Toastify__close-button:hover {
    opacity: 1 !important;
  }

}

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

@theme {
    --color-background: #0A0A0A;
    --color-foreground: #E1E1E1;
    --color-tray: #121212;
    --color-purpleForeground: #6753e6;
    --color-primaryAccent: #3B82F6;
  }